:root {
  --color-blue: rgb(56, 56, 202);
  --color-gray: gray;
  --color-operator: rgb(180, 162, 162);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  height: 500px;
  border: 6px solid rgb(34, 34, 41);
  border-radius: 10px;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.display {
  height: 100px;
  border: 3px solid gray;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 24px;
  color: var(--color-gray);
}

.button-zone {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.row {
  flex: 1;
}

button {
  width: 100%;
  aspect-ratio: 1;
  font-weight: bold;
  font-size: 24px;
}

#clear {
  background-color: rgb(216, 13, 13);
}

#equal {
  background-color: var(--color-blue);
}

#back {
  aspect-ratio: unset;
  background-color: var(--color-gray);
}

.number,
#float {
  color: var(--color-blue);
}

.operator {
  background-color: var(--color-operator);
}
